{% extends 'base.html' %}
{% block content %}
{% if response %}

<pre>
<code class="line-numbers language-{{lang}}">
{{response}}
</code>
</pre>
<br><br>
	
	<form method="POST" action="{% url 'home' %}">
		{% csrf_token %}
		<div class="mb-3">
			<textarea class="form-control" name="code" placeholder="Have A.I. Suggest Code" rows="3">{{code}}</textarea>
		</div>
	
		<select class="form-select" name="lang">
			<option selected>Select Programming Language</option>
			{% for lang in lang_list %}
			<option value="{{lang}}">{{lang}}</option>
			{% endfor %}
		</select>
		<br>

{% else %}


<pre>
<code class="line-numbers language-python">
	if name == 'Yash':
		print('Hello Yash')
	else:
		print('Hello Friend')
</code>
</pre>
<br><br>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}
	<div class="mb-3">
		<textarea class="form-control" name="code" placeholder="Have A.I. Suggest Code" rows="3"></textarea>
	</div>

	<select class="form-select" name="lang">
		<option selected>Select Programming Language</option>
		{% for lang in lang_list %}
		<option value="{{lang}}">{{lang}}</option>
		{% endfor %}
	</select>
	<br>

{% endif %}

	<button type="submit" class="btn btn-secondary">Submit</button>

{% endblock %}
</form>